{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset("CSS/Inscription.css")  }}"/>
{% endblock %}
{% block title %}Connexion/Inscription{% endblock %}

{% block body %}

<main id="LogginPage">

    <p class="Title">Inscrivez-vous pour pouvoir voter, ou connectez vous.</p>

    <div class="Container_Connexion_Inscription">

    <section class="Connexion">

        <h2>Connexion</h2>

            <form method="post">
                <div id="Err">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                       Vous êtes logé avec : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                    </div>
                {% endif %}
                </div>

                <div class="FormGroup" >
                    <input type="email" value="{{ last_username }}" name="email" placeholder="adresse mail" id="inputEmail" class="FormControl" required>
                    <label for="inputEmail" class="FormLabel">Email</label>
                </div>

                <div class="FormGroup" >
                    <input type="password" name="password" id="inputPassword" placeholder="mot de passe" class="FormControl" required>
                    <label for="inputPassword" class="FormLabel">Password</label>
                    <a href="#" class="HelpPassword">Mot de passe oublié ?</a>

                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="GoConnexion" type="submit">
                    Connexion
                </button>
            </form>

    </section>

    <section id="Inscription">

        <h2>Inscription</h2>

        <div class="Formulaire">

            {{ form_start(Form) }}

            <div class="FormGroup">
                {{ form_widget(Form.email) }}
                {{ form_label(Form.email) }}

            </div>

            <div class="FormGroup">
                {{

                form_widget(Form.password.first,  {
                    'attr': {
                        'class' : 'FormControl'
                    }})

                }}

                {{
                form_label(Form.password.first, label|default(null), {
                    'label_attr' : {
                        'class' : 'FormLabel'
                    }
                })
                }}

            </div>

            <div class="FormGroup">
                {{

                form_widget(Form.password.second,  {
                    'attr': {
                        'class' : 'FormControl'
                    }})

                }}

                {{
                form_label(Form.password.second, label|default(null), {
                    'label_attr' : {
                        'class' : 'FormLabel'
                    }
                })
                }}

            </div>

            {{ form_widget(Form.submit) }}

            {{ form_end(Form) }}
        </div>

    </section>

    </div>

</main>

{% endblock %}
