{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Home.css")  }}"/>
{% endblock %}

{% block body %}

    <main>

        <section class="Title">

            <h1>Votez pour la meilleure série française de tous les temps !</h1>
            <h2>Ensuite, barrez-vous.</h2>

        </section>

        <section class="Votes">

            <p class="TotalVote">{{ Total }} votes au total</p>
            <form method="post" action="{{ path("NewVote") }}">

            <table>
                <tr>

                    {% for Serie in Series %}
                        <td class="TDBarre"><div class="Barre"  style="height: {{100}}%;"></div></td>
                    {% endfor %}
                </tr>

                <tr>

                    {% for Serie in Series %}
                        <td class="ImgSerie"><img src="{{ asset('/Imgs/'~Serie.Img) }}"/></td>
                    {% endfor %}
                </tr>

                <tr class="Radio">
                    {% for Serie in Series %}
                        <td><input type="radio" name="Vote" id="Serie" value="{{ Serie.id }}"/></td>
                    {% endfor %}

                </tr>

                <tr class="NomsSeries">

                    {% for Serie in Series %}
                        <td>{{ Serie.nom }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for Serie in Series %}
                        <td class="NbVotes"> ({{ ((Serie.getNbVote() / Total) * 100)|round(2,'floor') }} %)</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td colspan="6" class="TD_BSubmit"><button class="Voter_Button" type="submit">Voter !</button> </td>
                </tr>

            </table>

            </form>

        </section>

    </main>


{% endblock %}


